<template>
	<button type="button" class="btn btn-primary top-space" style="margin-left: 50px" data-toggle="modal" data-target="#addPokemon">
	  			Registrar vehiculo
	</button>


</template>

<script>
export default {

}	
</script>

<style>
	.top-space{
		margin-top: 20px
	}
</style>