<template>
	

<div class="container box">
               
<div class="row">
<spinner v-show="loading"></spinner>
			<div class="col-sm" v-for="car in cars">
	
			<div class="card text-center" style="width: 18rem;margin-top: 35px;">
			 
			  <div class="card-body" >
			    <h5 class="card-title">Marca</h5>
			    <p class="card-text">{{car.marca}}</p>
			    <h5 class="card-title">Placa</h5>
			    <p class="card-text">{{car.placa}}</p>
			    <a v-bind:href="'/cars/'+ car.id" class="btn btn-primary">Mas información</a>

			    

			  </div>
			</div>
			</div>
		


	</div>
	</div>

</template>

<script>
	import EventBus from '../event-bus';
	export default {

		data() {
			return {
				cars: [],
				loading:true
			}
		},
		created(){
			EventBus.$on('car-added', data => {
				this.cars.push(data)
			})
		},
		mounted()	{
			axios
				.get('http://franciscosparking.online/cars')
				.then((res) => {
					this.cars = res.data
					this.loading = false
				})
		}
	}
</script>
