<template>
<div class="modal fade" id="addPokemon" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Pokemon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form @submit.prevent="saveCar">
	        <div class="form-group">
			    <label>Marca</label>
			    <input type="text" class="form-control" placeholder="Ingresa la marca del vehiculo" value="null" v-model="marca">
		  	</div>
		  	<div class="form-group">
			    <label>Placa</label>
			    <input type="text" class="form-control" placeholder="Ingrese la placa del vehiculo" v-model="placa" >
		  	</div>
		  	<button type="submit" class="btn btn-primary">Save</button>
	  	</form>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  import EventBus from '../event-bus';
  export default  {

        data() {
          return {
            marca:null,
            placa:null
          }
        },
        methods: {
          saveCar: function() {
            axios.post('http://franciscosparking.online/cars', {
              placa: this.placa,
              marca: this.marca
            })
           .then(function(res){
            console.log(res)
            $('#addPokemon').modal('hide')
            EventBus.$emit('car-added', res.data.car)
           })
           .catch(function(err){
            console.log(err)
           });


          }
        }
  }

</script>
