<template>
	<a href="/cars/placa"><button type="button" class="btn btn-danger top-space" style="margin-left: 50px" data-toggle="modal" data-target="#delCar">
	  			Registrar Salida de Vehiculo
	</button></a>


</template>

<script>
export default {

}	
</script>

<style>
	.top-space{
		margin-top: 20px
	}
</style>